/* Variables */

$font-color: #222;


/* General */
.link{
  text-decoration: none;
  color: 222;
}
*{
  font-family: 'Lato','Roboto','Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}
.no-pad{
  padding: 0;
}
.no-marg{
  margin: 0;
}
body{
  $font-color: #222;
}

/* Banner Section */
.banner-cover{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
  z-index: 1;
}
.banner-box{
  overflow: hidden;
  max-height: 100vh;
  position: relative;
  img{
    width: 100%;
  }
}
.logo{
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 1;
  max-width: 250px;
  width: 25%;
  img{
    width: 100%;
  }
}
@media(max-width: 767px){
  .logo{
    top: 5px;
  }
}


/* Circle Menu */
.delimiter {
  height: 2px;
  width: 80%;
  margin: 0 auto;
  background: #fff;
  display: block;
  margin-bottom: 7px;
  border-radius: 4px;
  transition: .3s all;
}
.circle-menu-wrapper{
  width: 100%;
  min-width: 320px;
  height: auto;
  position: fixed;
  top: 5px;
  left: 0;
  right: 0;
  z-index: 1000;
 }
 .circle-menu-wrapper-active{

 }
.circle-menu-container{
  position: relative;
  width: 100%;
  height: 50px;
}
.circle-menu-toggle{
  height: 40px;
  width: 40px;
  border: solid 2px #555;
  border-radius: 4px;
  float: right;
  margin-right: 15px;
  margin-top: 5px;
  align-self: center;
  justify-content: center;
  padding-top: 9px;
  transition: .5s all;
  position: relative;
  z-index: 3;
  background: rgba(0,0,0,0.7);
  .delimiter{
    position: absolute;
    margin-bottom: 0;
  }
  .delimiter:nth-child(1){
    top: 25%;
    left: 10%;
    right: 10%;
  }
 .delimiter:nth-child(2){
    top: 50%;
    left: 10%;
    right: 10%;
  }
  .delimiter:nth-child(3){
    top: 75%;
    left: 10%;
    right: 10%;
  }
}
.circle-menu-toggle{

}
.circle-menu-toggle{

}
.circle-menu-toggle{

}
.circle-menu-items{
  width: 200px;
  //background: rgba(53,65,89,1);
  border-radius: 50%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -200px;
  right: -200px;
  transform: rotate(90deg);
  transition: .5s all;
  color: #fff;
}
.circle-menu-item {
  span {
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
  }
}
.circle-menu-back{
  width: 0;
  height: 0;
  border-radius: 50%;
  transition: .5s all;
  position: absolute;
  right: 0;
}
.circle-menu-back.circle-back-active {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgba(233,39,39, 0.7);
  border: none;
  overflow: hidden;
  transition: .5s all;
}
.circle-menu-toggle.circle-toggle-active{
  margin-right: 25px;
  margin-top: 25px;
  border-radius: 50%;
  border: solid 2px rgba(85,85,85,1);
  .delimiter{
    transition: .5s all;
  }
  .delimiter:nth-child(1){
    top: 50%;
    left: 10%;
    right: 10%;
    transform: rotate(45deg);
    transition: .5s all;
  }
  .delimiter:nth-child(2) {
    opacity: 0;
  }
  .delimiter:nth-child(3){
    top: 50%;
    left: 10%;
    right: 10%;
    transform: rotate(135deg);
    transition: .5s all;
  }
}
.circle-menu-items.circle-items-active{
  position: absolute;
  right: 40px;
  top: 20px;
  transition: .5s all;
  transform: rotate(0deg);
  background: #354159;
}
.circle-menu-info{
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-size: 20px;
  letter-spacing: 5px;
  p{
    transform: rotateY(0deg);
    transform-origin: 0;
    transition: .3s all;
  }
}
.circle-menu-info-active{
  p{
    transform: rotateY(90deg);
    transition: .3s all;
  }
}

/* Contact Section */
#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
  margin-top: 20px;
 }
.about-section{
  background: url("../images/about-background.jpg")no-repeat center center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0,0,0,0.3);
  color: #eee;
  padding: 120px 0px;
  .about-row{
    display: flex;
    flex-wrap: wrap;
    .about-contact-col:last-of-type{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      .hours-wrapper,
      .contact-wrapper{
        flex: 0 0 205px;
        width: 205px;
        max-width: 250px;
      }
      .hours-wrapper{
        .hours-item{
          display: flex;
          justify-content: space-between;
        }
      }
    }
    .about-content-col{
      h3{
        border-bottom: solid 1px #fff;
        min-width: 320px;
        display: inline;
        padding-bottom: 5px;
      }
      p{
        margin-top: 25px;
      }
    }
  }
  a{
    color: #fff;
  }
}
@media(max-width: 767px){
  .about-section{
    padding: 40px 0;
  }
}

/* Review section */
.review-section{
  background: url('../images/reviews-background.jpg') no-repeat center center;
  .review-container{
    .row{
      justify-content: center;
      align-items: center;
      .review-col{
        width: 100%;
        .carousel{
          min-height: 500px;
          display: flex;
        }
        .carousel-inner{
          width: 70%;
          margin: 0 auto;
          display: flex;
          align-items: center;
          text-align: center;
          .carousel-item{
            color: #eee;
            h2{
              border-bottom: solid 1px #fff;
              min-width: 320px;
              display: inline;
              padding-bottom: 5px;
            }
            p{
              margin-top: 35px;
            }
          }
        }
      }
    }
  }
}

/* Footer Section */
.footer-section{
  background: #222;
  color: #8A8A8A;
  padding: 10px 0px;
  flex-wrap: wrap;
  width: 100%;
  flex-basis: 100%;
  .footer-col{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    flex-basis: 100%;
    span{
      min-width: 320px;
      flex: 1 1 320px;
    }
    span:last-of-type{
      text-align: right;
    }
    @media(max-width: 767px){
      span:last-of-type{
        text-align: left;
      }
    }
  }
}
