/* Variables */

$black: #222;
$white: #dbdbdb;


/* General */
.link{
  text-decoration: none;
  color: 222;
}
*{
  font-family: 'Lato','Roboto','Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}
.no-pad{
  padding: 0;
}
.no-marg{
  margin: 0;
}
body{
  $font-color: $black;
}
p{
  margin-bottom: 0px !important;
}
.bold{
  font-weight: bold;
}
.clickable {
  cursor: pointer;
}
.hide{
  display: none !important;
}
a:hover{
  text-decoration: none !important;
  color: #fff !important;
}

/* Banner Section */
.header-section{
  box-shadow: 0px 3px 8px #000;
}
.banner-cover{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
  z-index: 1;
}
.banner-box{
  overflow: hidden;
  max-height: 100vh;
  position: relative;
  img{
    width: 100%;
  }
}
.logo{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 100%;
    max-width: 408px;
  }
}
@media(max-width: 1024px){
  .logo{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    img{
      width: 100%;
      max-width: 308px;
    }
  }
}
@media(max-width: 767px){
  .logo{
    margin-bottom: 340px;
  }
}
@media(max-width: 500px){
  .logo{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 520px;
    img{
      width: 100%;
      max-width: 178px;
    }
  }
}
/* Menu */
.menu{
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  .menu-ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0px;
    height: 50px;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    .menu-li{
      flex: 1 1 25%;
      text-align: center;
      height: 100%;
      background: transparent;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .15s all;
      overflow: hidden;
      position: relative;
      font-size: 18px;
      border-top: solid 1px #fff;
      border-bottom: solid 1px #fff;
      span{
        z-index: 3;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .menu-li:before{
      content: '';
      position: absolute;
      right: 100%;
      bottom: 100;
      top: 0;
      width: 100%;
      // border-bottom: solid 1px $white;
      transition: .3s all;
      background: $black;
      z-index: 2;
    }
    .menu-li:hover{
      background: transparent;
      transition: .3s all;
      color: $white;
      cursor: pointer;
    }
    .menu-li:hover:before{
      // border-bottom: solid 1px $white;
      right: 0;
      transition: .3s all;
      background: $black;
      bottom: 0;
    }
  }
}

@media(max-width: 991px){
  .menu{
    display: none;
  }
}
@media(min-width: 991px){
  .circle-menu-wrapper{
    display: none;
  }
}

/* Circle Menu */
.delimiter {
  height: 2px;
  width: 80%;
  margin: 0 auto;
  background: $white;
  display: block;
  margin-bottom: 7px;
  border-radius: 4px;
  transition: .3s all;
}
.circle-menu-wrapper{
  width: 100%;
  min-width: 320px;
  height: auto;
  position: fixed;
  top: 5px;
  left: 0;
  right: 0;
  z-index: 1000;
 }
 .circle-menu-wrapper-active{

 }
.circle-menu-container{
  position: relative;
  width: 100%;
  height: 50px;
}
.circle-menu-toggle{
  height: 40px;
  width: 40px;
  border: solid 2px #555;
  border-radius: 4px;
  float: right;
  margin-right: 15px;
  margin-top: 5px;
  align-self: center;
  justify-content: center;
  padding-top: 9px;
  transition: .5s all;
  position: relative;
  z-index: 3;
  background: rgba(0,0,0,0.7);
  .delimiter{
    position: absolute;
    margin-bottom: 0;
  }
  .delimiter:nth-child(1){
    top: 25%;
    left: 10%;
    right: 10%;
  }
 .delimiter:nth-child(2){
    top: 50%;
    left: 10%;
    right: 10%;
  }
  .delimiter:nth-child(3){
    top: 75%;
    left: 10%;
    right: 10%;
  }
}
.circle-menu-toggle{

}
.circle-menu-toggle{

}
.circle-menu-toggle{

}
.circle-menu-items{
  width: 200px;
  border-radius: 50%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -200px;
  right: -200px;
  transform: rotate(90deg);
  transition: .5s all;
  color: $white;
}
.circle-menu-item {
  span {
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 25px;
  }
}
.circle-menu-back{
  width: 0;
  height: 0;
  border-radius: 50%;
  transition: .5s all;
  position: absolute;
  right: 0;
}
.circle-menu-back.circle-back-active {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgba(233,39,39, 0.7);
  border: none;
  overflow: hidden;
  transition: .5s all;
}
.circle-menu-toggle.circle-toggle-active{
  margin-right: 25px;
  margin-top: 25px;
  border-radius: 50%;
  border: solid 2px rgba(85,85,85,1);
  .delimiter{
    transition: .5s all;
  }
  .delimiter:nth-child(1){
    top: 50%;
    left: 10%;
    right: 10%;
    transform: rotate(45deg);
    transition: .5s all;
  }
  .delimiter:nth-child(2) {
    opacity: 0;
  }
  .delimiter:nth-child(3){
    top: 50%;
    left: 10%;
    right: 10%;
    transform: rotate(135deg);
    transition: .5s all;
  }
}
.circle-menu-items.circle-items-active{
  position: absolute;
  right: 40px;
  top: 20px;
  transition: .5s all;
  transform: rotate(0deg);
  background: #354159;
}
.circle-menu-info{
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-size: 20px;
  letter-spacing: 5px;
  p{
    transform: rotateY(0deg);
    transform-origin: 0;
    transition: .3s all;
  }
}
.circle-menu-info-active{
  p{
    transform: rotateY(90deg);
    transition: .3s all;
  }
}

/* Contact Section */
#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
  margin-top: 20px;
  flex: 1 1 33%;
  min-width: 410px;
 }
 @media(max-width: 991px){
   #map{
     min-width: 100%;
   }
 }
.about-section{
  background: url("../images/about-background.jpg")no-repeat center center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0,0,0,0.3);
  color: $white;
  padding: 70px 0px;
  .about-container{
    background: rgba(0,0,0,0.4);
    padding: 50px 25px;
    .about-row{
      display: flex;
      flex-wrap: wrap;
      .about-contact-col:last-of-type{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        .hours-wrapper,
        .contact-wrapper{
          flex: 0 0 33%;
          width: 205px;
          max-width: 250px;
          min-width: 205px;
          margin: 10px 25px 0px 10px;
        }
        .hours-wrapper{
          .hours-item{
            display: flex;
            justify-content: space-between;
          }
        }
      }
      .about-content-col{
        h3{
          border-bottom: solid 1px $white;
          min-width: 320px;
          display: inline;
          padding-bottom: 5px;
        }
        p{
          margin-top: 25px;
          margin-bottom: 25px !important;
        }
      }
    }
  }
  a{
    color: $white;
    display: block;
  }
}
@media(max-width: 767px){
  .about-section{
    padding: 40px 0;
  }
}
@media(max-width: 575px){
  .about-section{
    padding: 0px !important;
    .about-container{
      background: rgba(0,0,0,0.2) !important;
    }
  }
}

/* Review section */
.review-section{
  background: url('../images/reviews-background.jpg') no-repeat center center;
  box-shadow: 0px 3px 8px #000;
  background-size: cover;
  .review-container{
    .row{
      justify-content: center;
      align-items: center;
      .review-col{
        width: 100%;
        .carousel{
          min-height: 500px;
          display: flex;
        }
        .carousel-inner{
          width: 70%;
          margin: 0 auto;
          display: flex;
          align-items: center;
          text-align: center;
          .carousel-item{
            color: $white;
            h2{
              border-bottom: solid 1px $white;
              min-width: 320px;
              display: inline;
              padding-bottom: 5px;
            }
            p{
              margin-top: 35px;
            }
          }
        }
      }
    }
  }
}

/* Rent Space Section */
.rent-space-section{
  padding: 50px 0px;
  background: rgba(0,0,0,0.9);
  .rent-row{
    justify-content: center;
    max-width: 100vw;
    overflow: hidden;
    h1{
      color: $white;
    }
    .rent-col{
      background: $white;
      min-width: 300px;
      min-height: 306px;
      padding: 30px;
      margin: 7.5px;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      box-shadow: 3px 3px 8px #000;
      border-radius: 2px;
      flex: 1 1 45%;
      transform: scale(1);
      transition: .3s all;
      z-index: 2;
      h2,h4,p{
        flex-basis: 100%;
        width: 100%;
      }
      .bold{
        font-size: 20px;
        margin: 10px auto;
        .fa-images{
          padding-right: 10px;
        }
      }
    }
    .rent-col:hover{
      transform: scale(1.1);
      transition: .3s all;
      z-index: 3;
    }
  }
  // .rent-slider-row{
  //   .rent-slider-reg{
  //     transform: scaleY(0);
  //     transform-origin: top;
  //     transition: .3s all;
  //     overflow: hidden;
  //   }
  //   .rent-slider-reg.rent-slider-active{
  //     transform: scaleY(1);
  //     transform-origin: top;
  //     transition: .3s all;
  //   }
  // }
  // .rent-slider-row{
  //   .rent-slider-lg{
  //     transform: scaleY(0);
  //     transform-origin: top;
  //     transition: .3s all;
  //     overflow: hidden;
  //   }
  //   .rent-slider-lg.rent-slider-active{
  //     transform: scaleY(1);
  //     transform-origin: top;
  //     transition: .3s all;
  //   }
  // }
}
.modal-open{
  .modal{
    background: rgba(0,0,0,0.5)
  }
}
.modal-dialog{
  max-width: 90% !important;
  min-width: 310px;
  .modal-content{
    background-color: #222;
    color: $white;
    margin: 0 auto;
    max-width: 768px;
    .close{
      color: $white;
      text-shadow: 0 1px 0 #000;
    }
    .modal-body{
      .carousel-item{
        img{
          height: 100%;
        }
      }
    }
  }
}


/* Footer Section */
.footer-section{
  background: $black;
  color: #8A8A8A;
  padding: 10px 0px;
  flex-wrap: wrap;
  width: 100%;
  flex-basis: 100%;
  box-shadow: 0px 3px 8px #000;
  .footer-col{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    flex-basis: 100%;
    span{
      min-width: 320px;
      flex: 1 1 320px;
    }
    span:last-of-type{
      text-align: right;
    }
    @media(max-width: 767px){
      span:last-of-type{
        text-align: left;
      }
    }
  }
}
