*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}
.snippets-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 50px 0 0 0;
}
.snippet{
  flex-basis: 30%;
  min-width: 320px;
}
.heading{
  flex-basis: 100%;
  width: 100%;
  text-align: center;
  background: rgba(55,55,55,0.3);
  color: #fff;
  margin: 15px 0;
}
@media(min-width: 768px){
  .hidden-lg{
    display: none;
  }
}
@media(max-width: 767px){
  .hidden-xs{
    display: none
  }
}


/* DROPDOW MENU */
.dropdown-menu-section .dropdown-menu-wrapper{
  background: #333;
  color: #fff;
}
.dropdown-menu-section .dropdown-menu-inner{
  display: flex;
}
.dropdown-menu-section .inner-menu-item{
  height: 100%;
  overflow: hidden;
  transition: .3s all;
  position: absolute;
  max-height: 0px;
  background: #555;
  padding: 0 15px;
  top: 74px;
  width: 200px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.dropdown-menu-section .dropdown-menu-item:hover .inner-menu-item{
  height: 100%;
  transition: .3s all;
  position: absolute;
  max-height: 172px;
}
.dropdown-menu-section .dropdown-menu-item{
  padding: 5px 10px;
  font-size: 24px;
}


.mobile-dropdown-menu-wrapper{
  flex-basis: 48%;
  width: 48%;
  min-width: 320px;
  height: 210px;
  position: relative;
}
.mobile-dropdown-menu-section{
  width: 100%;
  height: 50px;
  background: #333;
}
.mobile-menu-dropdown-inner{
  max-height: 0;
  overflow: hidden;
  height: 100%;
  transition: .3s all;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  background: #333;
  padding: 0 15px;
  z-index: 2;
}
.mobile-dropdown-menu-toggle{
  height: 40px;
  width: 40px;
  border: solid 2px #555;
  border-radius: 4px;
  float: right;
  margin-right: 15px;
  margin-top: 5px;
  align-self: center;
  justify-content: center;
  padding-top: 9px;
  transition: .3s all;
}
.mobile-dropdown-menu-toggle:hover{
  background: #fff;
  transition: .3s all;
}
.mobile-dropdown-menu-toggle:hover .delimiter{
  background: #333;
  transition: .3s all;
}
.delimiter{
  height: 2px;
  width: 80%;
  margin: 0 auto;
  background: #fff;
  display: block;
  margin-bottom: 7px;
  border-radius: 4px;
  transition: .3s all;
}
.mobile-menu-dropdown-inner.dropdown-active{
  max-height: 155px;
  height: 100%;
  padding: 0 15px;
}
.mobile-menu-dropdown-item{
  font-size: 20px;
  border-bottom: solid 1px #555;
}
.mobile-menu-dropdown-info{
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-size: 20px;
  letter-spacing: 5px;
}

/* Staggering Menu */

.staggering-menu-wrapper{
  flex-basis: 48%;
  width: 48%;
  min-width: 320px;
  height: 210px;
  position: relative;
}
.staggering-menu-section{
  width: 100%;
  height: 50px;
  background: #333;
}
.staggering-menu-toggle{
  height: 40px;
  width: 40px;
  border: solid 2px #555;
  border-radius: 4px;
  float: right;
  margin-right: 15px;
  margin-top: 5px;
  align-self: center;
  justify-content: center;
  padding-top: 9px;
  transition: .3s all;
}
.staggering-menu-inner{
  overflow: hidden;
  height: 100%;
  transition: .3s all;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 2;
}
.staggering-menu-toggle:hover{
  background: #fff;
  transition: .3s all;
}
.staggering-menu-toggle:hover .delimiter{
  background: #333;
  transition: .3s all;
}
.staggering-menu-item{
  font-size: 20px;
  background: #333;
  width: 0;
  overflow: hidden;
}
.staggering-menu-item span{
  padding: 5px;
  white-space: nowrap;
}
.staggering-menu-item:nth-child(1){
  transition: 1.1s all;
}
.staggering-menu-item:nth-child(2){
  transition: .9s all;
}
.staggering-menu-item:nth-child(3){
  transition: .7s all;
}
.staggering-menu-item:nth-child(4){
  transition: .5s all;
}
.staggering-menu-item:nth-child(5){
  transition: .3s all;
}
.staggering-menu-inner.stagger-active .staggering-menu-item:nth-child(1){
  transition: .3s all;
  width: 100%;
}
.staggering-menu-inner.stagger-active .staggering-menu-item:nth-child(2){
  transition: .5s all;
  width: 100%;
}
.staggering-menu-inner.stagger-active .staggering-menu-item:nth-child(3){
  transition: .7s all;
  width: 100%;
}
.staggering-menu-inner.stagger-active .staggering-menu-item:nth-child(4){
  transition: .9s all;
  width: 100%;
}
.staggering-menu-inner.stagger-active .staggering-menu-item:nth-child(5){
  transition: 1.1s all;
  width: 100%;
}
.staggering-menu-info{
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-size: 20px;
  letter-spacing: 5px;
}

/* Circle Menu */

.circle-menu-wrapper{
  flex-basis: 48%;
  width: 48%;
  min-width: 320px;
  height: 220px;
  position: relative;
  overflow-x: hidden;
 }
.circle-menu-container{
  width: 100%;
  height: 50px;
}
.circle-menu-toggle{
  height: 40px;
  width: 40px;
  border: solid 2px #555;
  border-radius: 4px;
  float: right;
  margin-right: 15px;
  margin-top: 5px;
  align-self: center;
  justify-content: center;
  padding-top: 9px;
  transition: .5s all;
  position: relative;
  z-index: 3;
}
.circle-menu-toggle .delimiter{
  position: absolute;
  margin-bottom: 0;
}
.circle-menu-toggle .delimiter:nth-child(1){
  top: 25%;
  left: 10%;
  right: 10%;
}
.circle-menu-toggle .delimiter:nth-child(2){
  top: 50%;
  left: 10%;
  right: 10%;
}
.circle-menu-toggle .delimiter:nth-child(3){
  top: 75%;
  left: 10%;
  right: 10%;
}
.circle-menu-items{
  width: 200px;
  background: rgba(0,201,255,0.3);
  border-radius: 50%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -200px;
  right: -200px;
  transform: rotate(90deg);
  transition: .5s all;
}
.circle-menu-item span {
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}
.circle-menu-back{
  width: 0;
  height: 0;
  border-radius: 50%;
  transition: .5s all;
  position: absolute;
  right: 0;
}
.circle-menu-back.circle-back-active {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgba(0,50,64,0.3);
  border: none;
  overflow: hidden;
  transition: .5s all;
}
.circle-menu-toggle.circle-toggle-active{
  margin-right: 25px;
  margin-top: 25px;
  border-radius: 50%;
  border: solid 2px rgba(85,85,85,0);
}
.circle-menu-toggle.circle-toggle-active .delimiter:nth-child(2) {
  opacity: 0;
}
.circle-menu-toggle.circle-toggle-active .delimiter:nth-child(1){
  top: 50%;
  left: 10%;
  right: 10%;
  transform: rotate(45deg);
  transition: .5s all;
}
.circle-menu-toggle.circle-toggle-active .delimiter:nth-child(3){
  top: 50%;
  left: 10%;
  right: 10%;
  transform: rotate(135deg);
  transition: .5s all;
}
.circle-menu-toggle.circle-toggle-active .delimiter{
  transition: .5s all;
}
.circle-menu-items.circle-items-active {
  position: absolute;
  right: 40px;
  top: 20px;
  transition: .5s all;
  transform: rotate(0deg);
}
.circle-menu-info{
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-size: 20px;
  letter-spacing: 5px;
}
.circle-menu-info p{
  transform: rotateY(0deg);
  transform-origin: 0;
  transition: .3s all;
}
.circle-menu-info-active p{
  transform: rotateY(90deg);
  transition: .3s all;
}

/* FLIP MENU */
.flip-menu-wrapper{
  flex-basis: 48%;
  width: 48%;
  min-width: 320px;
  height: 210px;
  position: relative;
}
.flip-menu-section{
  width: 100%;
  height: 50px;
  background: #333;
}
.flip-menu-toggle{
  height: 40px;
  width: 40px;
  border: solid 2px #555;
  border-radius: 4px;
  float: right;
  margin-right: 15px;
  margin-top: 5px;
  align-self: center;
  justify-content: center;
  padding-top: 9px;
  transition: .3s all;
  position: relative;
  z-index: 3;
}
.flip-menu-inner{
  overflow: hidden;
  height: 100%;
  transition: .3s all;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 2;
}
.flip-menu-item{
  font-size: 20px;
  background: #333;
  width: 100%;
  overflow: hidden;
  transform: rotatex(-90deg);
  transition: .5s all;
}
.flip-inner-active .flip-menu-item{
  transform: rotatex(0deg);
  transform: translateZ(-412px);
  transform-origin: 0;
}
.flip-menu-item:nth-child(1){
  transition: 1.1s all;
  transition-timing-function: linear;
}
.flip-menu-item:nth-child(2){
  transition: .9s all;
  transition-timing-function: linear;
}
.flip-menu-item:nth-child(3){
  transition: .7s all;
  transition-timing-function: linear;
}
.flip-menu-item:nth-child(4){
  transition: .5s all;
  transition-timing-function: linear;
}
.flip-menu-item:nth-child(5){
  transition: .3s all;
  transition-timing-function: linear;
}
.flip-menu-inner.flip-inner-active .flip-menu-item:nth-child(1){
  transition: .3s all;
  transition-timing-function: linear;
  width: 100%;
}
.flip-menu-inner.flip-inner-active .flip-menu-item:nth-child(2){
  transition: .5s all;
  transition-timing-function: linear;
  width: 100%;
}
.flip-menu-inner.flip-inner-active .flip-menu-item:nth-child(3){
  transition: .7s all;
  transition-timing-function: linear;
  width: 100%;
}
.flip-menu-inner.flip-inner-active .flip-menu-item:nth-child(4){
  transition: .9s all;
  transition-timing-function: linear;
  width: 100%;
}
.flip-menu-inner.flip-inner-active .flip-menu-item:nth-child(5){
  transition: 1.1s all;
  transition-timing-function: linear;
  width: 100%;
}
.flip-menu-info{
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-size: 20px;
  letter-spacing: 5px;
}
/*Menu - End Animate Right*/


/* Circle CTA */
.cta-wrapper{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 15px;
}
.cta{
  width: 300px;
  flex-basis: 300px;
  position: relative;
  margin-top: 15px;
}
.cta img{
  width: 100%;
}
.cta .cta-circle-overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  overflow: hidden;
  border: solid 0px rgba(255,255,255,0.5);
  transition: .3s border cubic-bezier(.7,.33,.44,3.75), .3s background linear;
  background: rgba(255,255,255,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  color: #333;
}
.cta .cta-circle-overlay:hover{
  border: solid 20px rgba(255,255,255,0.5);
  transition: .3s border cubic-bezier(.7,.33,.44,3.75), .3s background linear;
  background: rgba(255,255,255,0);
}
.cta .cta-circle-image{
  border-radius: 50%;
  overflow: hidden
}

.simple-cta{
  flex: 1;
  flex-basis: 25%;
  width: 25%;
  min-width: 160px;
  background: #337ab7;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}
.simple-cta:hover{
  box-shadow: 1px 1px 3px #333 inset;
}
.simple-cta-inner{
  padding: 75px 0;
}
.simple-cta-inner:hover{
  text-decoration: none;
}
.simple-cta-icon img{
  max-width: 100px;
  width: 100%;
}
.simple-cta-text {
  color: #fff;
  font-size: 24px;
  text-align: center;
  padding-top: 15px;
}
@media(max-width: 992px){
  .simple-cta{
    flex-basis: 50%;
    width: 50%;
  }
}

.square-cta{
  height: 320px;
  display: flex;
  flex-basis: 0%;
  flex-basis: 50%;
  min-width: 320px;
  overflow: hidden;
  position: relative;
  transition: .3s all;
  color: #fff;
}
.square-cta:hover{
  background: rgba(45,45,45,0.5);
  transition: .3s all;
}
.square-cta-overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(45,45,45,0);
  transition: .3s all;
}
.square-cta:hover .square-cta-overlay{
  transition: .3s all;
  background: rgba(45,45,45,0.5);
}
.square-cta:hover .square-cta-text{
  top: 0;
  left: 15px;
  right: 15px;
  transition: .3s all;
  text-decoration: none;
  color: #fff;
  z-index: 10;
}
.square-cta-text {
  position: absolute;
  top: -70px;
  left: 15px;
  right: 15px;
  font-size: 24px;
  transition: .3s all;
  color: #fff;
}
.square-cta-image{
  width: 100%;
}
.square-cta-image-one{
  background: url('/images/man.jpg')no-repeat center center;
  background-size: cover;
}
.square-cta-image-two{
  background: url('/images/team-working.jpg')no-repeat center center;
  background-size: cover;
}
.square-cta-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: #337ab7;
  padding: 10px 15px;
  text-align: center;
  min-width: 150px;
  font-size: 20px;
  border-radius: 4px;
  color: #fff;
  z-index: 1;
}
.square-cta-button:hover{
  color: #fff;
  text-decoration: none;
}
@media(max-width: 1199px){
  .square-cta .square-cta-text{
    top: 0;
    left: 15px;
    right: 15px;
    transition: .3s all;
    text-decoration: none;
    color: #fff;
    z-index: 10;
  }
  .square-cta .square-cta-overlay{
    transition: .3s all;
    background: rgba(45,45,45,0.5);
  }
}




.form-section{
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}
.form-container input[type="text"],
.form-container textarea,
.form-container input[type="radio"]{
  border: 1px solid #b1b5bb;
  background: #fff;
  color: #222;
  padding: 0;
  padding-left: 0px;
  font-size: 15px;
  float: none;
}
.form-one-container label{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  letter-spacing: 3px;
}
.form-one-container textarea::placeholder,
.form-one-container input[type="text"]::placeholder{
  color: #fff !important;
  opacity: 1 !important;
}
.form-one-container input[type="text"]{
  height: 33px;
}
.form-one-container .input-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.form-one-container input[type="text"],
.form-one-container textarea,
.form-one-container input[type="radio"]{
  background: #333;
  width: 100%;
  color: #fff;
  border-radius: 4px;
  padding-left: 5px;
  letter-spacing: 3px;
}
.form-one-container {
  background: #a30734;
  color: #fff;
  max-width: 320px;
  width: 100%;
  margin: 50px auto;
  padding: 15px 10px;
  border: solid 1px #333;
  border-radius: 4px;
  box-shadow: inset 0 0 5px #000;
}
.form-one-container .input-box.radio-box{
  display: inline-block;
  width: 49%;
}
.form-one-container .input-box.radio-box input[type="radio"] {
    width: auto;
}
.form-one-submit-btn input{
  background: #333;
  width: 300px;
  height: 33px;
  border-radius: 4px;
  border: solid 1px #b1b5bb;
  letter-spacing: 3px;
  transition: .3s all;
}
.form-one-submit-btn input:hover{
  background: #56021A;
  transition: .3s all;
}



.form-two-container label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  letter-spacing: 3px;
  font-weight: bold;
}
.form-two-container input[type="text"],
.form-two-container textarea,
.form-two-container input[type="radio"]{
  background: #333;
  width: 100%;
  color: #fff;
  border-radius: 4px;
  padding-left: 5px;
  letter-spacing: 3px;
  font-weight: bold;
}
.form-two-container textarea::placeholder,
.form-two-container input[type="text"]::placeholder{
  color: #fff !important;
  opacity: 1 !important;
  font-weight: bold;
}
.form-two-container{
	background: #64B4E3;
	color: #fff;
	max-width: 320px;
	margin: 50px auto;
	padding: 15px 10px;
	width: 100%;
}
.form-two-container h4{
	padding: 0 15px;
	margin-top: 0px;
}
.form-two-container .input-box input::placeholder{
	color: #fff;
}
.form-two-container input[type="text"],
.form-two-container textarea,
.form-two-container input[type="radio"]{
	width: 100%;
	padding-left: 5px;
	background: transparent;
	color: #fff
}
.form-two-container input[type="text"]{
	border: none;
	border-bottom: dashed 2px #ACD1E8;
  height: 33px;
}
.form-two-container input[type="text"]:focus{
	box-shadow: inset 0 0 5px rgba(78,140,176, 1);
}
.form-two-container textarea{
	border: solid 2px #ACD1E8
}
.form-two-container .input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.form-two-container .input-box.radio-box{
	display: inline-block;
	width: 49%;
}
.form-two-container .input-box.radio-box input[type="radio"] {
    width: auto;
}
.form-two-submit-btn input{
  background: transparent;
  width: 300px;
  height: 33px;
  border-radius: 4px;
  border: solid 1px #fff;
  letter-spacing: 3px;
  transition: .3s all;
  font-weight: bold;
}
.form-two-submit-btn input:hover{
  background: #2C4F63;
  transition: .3s all;
}

/*form three*/

.form-three-container {
	background: #E37004;
	color: #fff;
	max-width: 320px;
	margin: 50px auto;
	padding: 15px 10px;
	width: 100%;
  border-radius: 4px;
  border: solid 2px #007896;
  box-shadow: 1px 2px 5px #333;
}
.form-three-container h4 {
  padding: 0 15px;
  margin-top: 0;
}
.form-three-container input[type="text"],
.form-three-container textarea,
.form-three-container input[type="radio"]{
	width: 100%;
	padding-left: 5px;
	background: transparent;
	color: #fff;
	border: solid 2px #007896;
	z-index: 1;
	font-style: italic;
	font-weight: bold;
}
.form-three-container input[type="text"],
.form-three-container textarea,
.form-three-container input[type="radio"]{
  background: transparent;
  width: 100%;
  color: #fff;
  border-radius: 4px;
  padding-left: 5px;
  letter-spacing: 3px;
  font-weight: bold;
}
.form-three-container textarea::placeholder,
.form-three-container input[type="text"]::placeholder{
  color: #fff !important;
  opacity: 1 !important;
  font-weight: bold;
}

.form-three-container .input-box.radio-box input[type="radio"] {
  width: auto;
}
.form-three-container input[type="text"]{
  height: 33px;
}
.form-three-container .input-box.radio-box{
	display: inline-block;
	width: 49%;
}
.form-three-container .input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
	position: relative;
}
.form-three-container .input-box span,
.form-three-container .input-box textarea:focus~span{
	position: absolute;
	top: 0;
	left: 0;
	right: 100%;
	bottom: 0;
	background: #007896;
	z-index: 0;
	transition: linear .3s all;
}
.form-three-container .input-box input:focus~span,
.form-three-container .input-box textarea:focus~span{
	right: 0;
	transition: linear .7s all;
}
.form-three-submit-btn input{
  background: transparent;
  width: 300px;
  height: 33px;
  border-radius: 4px;
  border: solid 1px #fff;
  letter-spacing: 3px;
  transition: .3s all;
  font-weight: bold;
}
.form-three-submit-btn input:hover{
  background: #2C4F63;
  transition: .3s all;
}
.form-three-submit-btn input{
  background: transparent;
  width: 300px;
  height: 33px;
  border-radius: 0px;
  border: solid 2px #007896;
  letter-spacing: 3px;
  transition: .3s all;
  font-weight: bold;
}
.form-two-submit-btn input:hover{
  background: #007896;
  transition: .3s all;
}
.form-two-container label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  letter-spacing: 3px;
  font-weight: bold;
}
