/* Variables */

$blue: #008697;
$neon-red: #5b2121;
$white: #dbdbdb;
$primary-font: #fff;
$neon-red: #fd413c;


/* General */
.link{
  text-decoration: none;
  color: 222;
}
*{
  font-family: 'Lato','Roboto','Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}
.no-pad{
  padding: 0;
}
.no-marg{
  margin: 0;
}
body{
  $font-color: $primary-font;
}
p{
  margin-bottom: 0px !important;
}
.bold{
  font-weight: bold;
}
.clickable {
  cursor: pointer;
}
.hide{
  display: none !important;
}
a:hover{
  text-decoration: none !important;
  color: $primary-font !important;
}


// Pages
@-webkit-keyframes neon1 {
  0%{
    text-shadow: 0 0 0px rgba(255,255,255,0.5), 0 0 0px rgba(255,255,255,0.5), 0 0 0px $neon-red, 0 0 0px $neon-red, 0 0 0px $neon-red, 0 0 0px $neon-red;
  }
  22%{
    text-shadow: 0 0 6px rgba(255,255,255,0.5), 0 0 7px rgba(255,255,255,0.5), 0 0 6px $neon-red, 0 0 12px $neon-red, 0 0 13px $neon-red, 0 0 12px $neon-red;
  }
  66% {
    text-shadow: 0 0 8px rgba(255,255,255,0.5), 0 0 8px rgba(255,255,255,0.5), 0 0 8px $neon-red, 0 0 15px $neon-red, 0 0 17px $neon-red, 0 0 17px $neon-red;
  }
  100% {
    text-shadow: 0 0 5px rgba(255,255,255,0.5), 0 0 5px rgba(255,255,255,0.5), 0 0 25px #fd413c, 0 0 5px #fd413c, 0 0 8px #fd413c, 0 0 10px #fd413c, 0 0 10px #fd413c;
  }
}
@-moz-keyframes neon1 {
  0%{
    text-shadow: 0 0 0px rgba(255,255,255,0.5), 0 0 0px rgba(255,255,255,0.5), 0 0 0px $neon-red, 0 0 0px $neon-red, 0 0 0px $neon-red, 0 0 0px $neon-red;
  }
  22%{
    text-shadow: 0 0 6px rgba(255,255,255,0.5), 0 0 7px rgba(255,255,255,0.5), 0 0 6px $neon-red, 0 0 12px $neon-red, 0 0 13px $neon-red, 0 0 12px $neon-red;
  }
  66% {
    text-shadow: 0 0 8px rgba(255,255,255,0.5), 0 0 8px rgba(255,255,255,0.5), 0 0 8px $neon-red, 0 0 15px $neon-red, 0 0 17px $neon-red, 0 0 17px $neon-red;
  }
  100% {
    text-shadow: 0 0 5px rgba(255,255,255,0.5), 0 0 5px rgba(255,255,255,0.5), 0 0 25px #fd413c, 0 0 5px #fd413c, 0 0 8px #fd413c, 0 0 10px #fd413c, 0 0 10px #fd413c;
  }
}
@keyframes neon1 {
  0%{
    text-shadow: 0 0 0px rgba(255,255,255,0.5), 0 0 0px rgba(255,255,255,0.5), 0 0 0px $neon-red, 0 0 0px $neon-red, 0 0 0px $neon-red, 0 0 0px $neon-red;
  }
  22%{
    text-shadow: 0 0 6px rgba(255,255,255,0.5), 0 0 7px rgba(255,255,255,0.5), 0 0 6px $neon-red, 0 0 12px $neon-red, 0 0 13px $neon-red, 0 0 12px $neon-red;
  }
  66% {
    text-shadow: 0 0 8px rgba(255,255,255,0.5), 0 0 8px rgba(255,255,255,0.5), 0 0 8px $neon-red, 0 0 15px $neon-red, 0 0 17px $neon-red, 0 0 17px $neon-red;
  }
  100% {
    text-shadow: 0 0 5px rgba(255,255,255,0.5), 0 0 5px rgba(255,255,255,0.5), 0 0 25px #fd413c, 0 0 5px #fd413c, 0 0 8px #fd413c, 0 0 10px #fd413c, 0 0 10px #fd413c;
  }
}






@-webkit-keyframes neon-toggle1 {
  0%{
    box-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px $neon-red, 0 0 0px $neon-red, 0 0 0px $neon-red;
  }
  22%{
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px $neon-red, 0 0 7px $neon-red, 0 0 10px $neon-red;
  }
  66% {
    box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 8px $neon-red, 0 0 14px $neon-red, 0 0 20px $neon-red;
  }
  100% {
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px $neon-red, 0 0 7px $neon-red, 0 0 10px $neon-red;
  }
}
@-moz-keyframes neon-toggle1 {
  0%{
    box-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px $neon-red, 0 0 0px $neon-red, 0 0 0px $neon-red;
  }
  22%{
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px $neon-red, 0 0 7px $neon-red, 0 0 10px $neon-red;
  }
  66% {
    box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 8px $neon-red, 0 0 14px $neon-red, 0 0 20px $neon-red;
  }
  100% {
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px $neon-red, 0 0 7px $neon-red, 0 0 10px $neon-red;
  }
}
@keyframes neon-toggle1 {
  0%{
    box-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px $neon-red, 0 0 0px $neon-red, 0 0 0px $neon-red;
  }
  22%{
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px $neon-red, 0 0 7px $neon-red, 0 0 10px $neon-red;
  }
  66% {
    box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 8px $neon-red, 0 0 14px $neon-red, 0 0 20px $neon-red;
  }
  100% {
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px $neon-red, 0 0 7px $neon-red, 0 0 10px $neon-red;
  }
}



.page-box-col{
  position: relative;
  width: 100vw;
  height: 100vh;
  .drop-in-nav{
    z-index: 1000;
    position: absolute;
    top: -100vh;
    left: 0;
    right: 0;
    bottom: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .9s ease-in;
    ul{
      background: #222;
      border-radius: 5px;
      padding: 50px 50px;
      box-shadow: 5px 5px 15px #222;
      .menu-li{
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        list-style: none;
        color: #fff;
        transition: .3s all;
        margin-bottom: 15px;
      }
      .menu-li:focus,
      .menu-li:active,
      .menu-li:hover{
        transition: .3s all;
        -webkit-animation: neon1 .75s ease-in-out forwards alternate;
        -moz-animation: neon1 .75s ease-in-out forwards alternate;
        animation: neon1 .75s ease-in-out forwards alternate;
      }
    }
  }

  .drop-in-nav.active-nav{
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .9s ease-out;
  }
  .page{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  .page.active-page{
    display: block;
    overflow: scroll;
  }
  .menu-page{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    display: block;
    transition: .1s display;
    transition-delay: 0s;
  }
  .menu-page.menu-hide{
    display: none !important;
  }
  .menu-page.active-page-animate{

  }
  .menu-page.active-page{
     display: block;
  }
  .menu-page:before{
    content: '';
    width: 50vw;
    height: 100%;
    position: absolute;
    background: url('../images/banner-left.jpg')no-repeat right center;
    background-size: cover;
    top: 0;
    left: -50vw;
    transition: .9s all;
  }
  .menu-page:after{
    content: '';
    width: 50vw;
    height: 100%;
    position: absolute;
    background: url('../images/banner-right.jpg')no-repeat left center;
    background-size: cover;
    top: 0;
    right: -50vw;
    transition: .9s all;
  }
  .menu-page.active-page-animate:before{
    transition: .9s all;
    left: 0;
  }
  .menu-page.active-page-animate:after{
    transition: .9s all;
    right: 0;
  }
  .menu-toggle{
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 999;
    background: #222;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    .delimiter{
      height: 2px;
      width: 35px;
      background: #fff;
      display: block;
      margin-bottom: 6px;
    }
    .delimiter:last-of-type {
      margin-bottom: 0px;
    }
  }
  .menu-toggle:hover{
    .delimiter{
      transition: .3s all;
      -webkit-animation: neon-toggle1 1.5s ease-in-out forwards alternate;
      -moz-animation: neon-toggle1 1.5s ease-in-out forwards alternate;
      animation: neon-toggle1 1.5s ease-in-out forwards alternate;
    }
  }
  .about-page{
    z-index: 998;
    background: #222;
    .about-page-inner{
      .body-wrapper{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        z-index: 10;
        .about-content{
          max-width: 55%;
          margin-top: 5%;
          padding: 0 15px;
          color: $white;
        }
      }
      .about-page-header{
        width: 100vw;
        height: 100vh;
        position: absolute;
        overflow: hidden;
        max-width: 100vw;
        max-height: 100vh;
        z-index: 9;
        .about-page-hero{
          position: absolute;
          top: 0;
          right: -45vw;
          transform: rotate(45deg);
          min-height: 70vh;
          width: 100%;
          overflow: hidden;
        }
        .about-page-hero:after{
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          min-height: 100vh;
          background: url('../images/dicks-at-night.jpg')no-repeat center center;
          background-size: cover;
          transform: rotate(-45deg);
        }
      }
    }
    @media(max-width: 1409px) and (min-width: 1024px){
      .about-page-inner{
        .about-page-header{
          .about-page-hero{
            min-height: 50vh;
            &:after{
              min-height: 70vh;
            }
          }
        }
      }
    }
    @media(max-width: 1023px) and (min-width: 768px){
      .about-page-inner{
        .about-page-header{
          .about-page-hero{
            min-height: 30vh;
            &:after{
              min-height: 45vh;
            }
          }
        }
      }
    }
    @media(max-width: 767px){
      .about-page-inner{
        .about-page-header{
          .about-page-hero{
            min-height: 30vh;
            top: -65px;
            right: -40vw;
            &:after{
              min-height: 55vh;
            }
          }
        }
      }
    }
  }
  .apply-page{
    z-index: 997;
    background: #222;
    padding-top: 20px;
  }
  .actual-menu-page{
    background: #222;
    .menu-box{
      width: 100%;
      text-align: center;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: auto;
        max-width: 100vw;
        height: auto;
        max-height: 90vh;
      }
    }
  }
}
