*{
    font-family: 'Lato','Roboto','Open Sans', sans-serif;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
/*TESTING*/

/*Header*/
.jumbotron-container .jumbotron-row .jumbotron-item{
  background: transparent;
  height: 400px;
  color: #fff;
}
.jumbotron-container .jumbotron-row .jumbotron-item .name-container{
  margin: 2% 2% auto auto;
}
.jumbotron-container .jumbotron-row .jumbotron-item .title-container{
  margin: 2% 2% auto auto;
}
.jumbotron-container .jumbotron-row .jumbotron-item p{

}
/*ROW TWO TOP*/
.row-two-top-container .row-two-top-row .row-two-top1{
  height: 400px;
  background: rgba(0,70,120,0.5);
  transition: ease-in .2s;
  border-radius: 25px;
}
.row-two-top-container .row-two-top-row .row-two-top1:hover{
  background: rgba(0,70,120,1);
  transition: ease-in .2s;
  border-radius: 0px;
}
.row-two-top-container .row-two-top-row .row-two-top1 span{
  font-size: 94px;
  position: absolute;
  bottom: 0;
  right: 5%;
  color: #fff;
}
.row-two-top-container .row-two-top-row .row-two-top2{
  height: 400px;
  background: rgba(0,0,0,0.5);
  transition: ease-in .2s;
  border-radius: 25px;
}
.row-two-top-container .row-two-top-row .row-two-top2:hover{
  background: rgba(0,0,0,1);
  transition: ease-in .2s;
  border-radius: 0px;
}
.row-two-top-container .row-two-top-row .row-two-top2 span{
  font-size: 94px;
  position: absolute;
  bottom: 0;
  right: 5%;
  color: #fff;
}
/*ROW THREE MIDDLE*/
.row-three-middle-container .row-three-middle-row .row-three-middle1{
  background: transparent;
  height: 400px;
  background-size: cover;
}
.row-three-middle-container .row-three-middle-row .row-three-middle2{
  background: rgba(70,0,70,0.5);
  height: 400px;
  transition: ease-in .2s;
  border-radius: 25px;
}
.row-three-middle-container .row-three-middle-row .row-three-middle2:hover{
  background: rgba(70,0,70,1);
  transition: ease-in .2s;
  border-radius: 0px;
}
.row-three-middle-container .row-three-middle-row .row-three-middle2 span{
  font-size: 94px;
  position: absolute;
  top: 12%;
  color: #fff;
}
.row-three-middle-container .row-three-middle-row .row-three-middle3{
  background: transparent;
  height: 400px;
}
/*ROW TWO BOTTOM*/
.row-two-bottom-container .row-two-bottom-row .row-two-bottom1{
    background: rgba(70,0,0,0.5);
    height: 400px;
    transition: ease-in .2s;
    border-radius: 25px;
}
.row-two-bottom-container .row-two-bottom-row .row-two-bottom1:hover{
    background: rgba(70,0,0,1);
    transition: ease-in .2s;
    border-radius: 0px;
}
.row-two-bottom-container .row-two-bottom-row .row-two-bottom1 span{
    font-size: 94px;
    position: absolute;
    bottom: 0;
    right: 5%;
    color: #fff;
}
.row-two-bottom-container .row-two-bottom-row .row-two-bottom2{
    background: rgba(0,120,70,0.5);
    height: 400px;
    transition: ease-in .2s;
    border-radius: 25px;
}
.row-two-bottom-container .row-two-bottom-row .row-two-bottom2:hover{
    background: rgba(0,120,70,1);
    transition: ease-in .2s;
    border-radius: 0px;
}
.row-two-bottom-container .row-two-bottom-row .row-two-bottom2 span{
    font-size: 94px;
    position: absolute;
    bottom: 0;
    right: 5%;
    color: #fff;
}
/*BOTTOM WRAPPER*/
/*
.bottom-wrapper{
  background: url("../images/city-bottom.png") center center no-repeat;
}
*/
/*Footer*/
.footer-container .footer-row .footer{
    background: url("../images/jumbotron-placeholder.png")center center no-repeat;
    height: 400px;
    background-size: cover;
}
